html {
	background: #3480e1;
}

.heading {
	background: #e2c187;
	border: medium solid black;
	border-radius: 10px;
	border-width: max-content;
	margin: 70px;
	margin-top: 40px;
	padding: 10px;
	display: flex;
	flex-direction: row;
	overflow: auto;
} .header {
	text-align: center;
} .header a, .header a:visited, .header a:hover, .header a:active {
	padding-left: 30px;
	color: #5121b4;
	text-decoration: none;
} .redirects {
	flex-grow: 4;
	text-align: center;
	justify-content: space-evenly;
} .redirects a, .redirects a:visited, .redirects a:hover, .redirects a:active {
	padding-right: 30px;
	text-decoration: none;
	color: #80281e;
} .redirects a:hover {
	color: #c8281e;
}
