body {
	background: #3480e1;
	margin: 0;
	font-family: sans-serif;
}

/* footer of webpage */
.footer-container {
    position: relative;
	background: #000;
	display: flex;
	flex-direction: column;
	width: 100%;
	bottom: 0;
}
.footer {
	display: table;
}
.footer h2 {
	color: #c8c8c8;
}
.footer a {
	color: #afafaf;
	text-decoration: none;
}
.footer a:hover {
	color: #919191;
}
.fc-fixed {
    position: fixed;
}

/* links and email */
.questions {
	display: table-cell;
	text-align: center;
	padding-left: 15%;
	padding-top: 20px;
}
.questions img.media {
	padding: 20px 10px;
	max-height: 40px;
	max-width: 40px;
}
.other-sites {
	display: table-cell;
	text-align: center;
	padding-right: 15%;
}
.other-sites ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.other-sites ul li {
	padding: 10px;
}

/* bottom blurb */
.copyright {
	position: relative;
}
.copyright p {
	color: #afafaf;
	font-size: 10px;
	text-align: center;
}

/* for body of text */
.main_body {
	position: relative;
	margin: 100px 5%;
	background: #e2c187;
	border: medium solid black;
	border-radius: 10px;
    text-align: center;
}

/* navigation bar color + properties */
.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 7;
	background: #e2c187;
	border-bottom: medium solid black;
	overflow: hidden;
}

/* navbar links highlight when hovered */
.navbar a {
	float: right;
	display: block;
	padding: 20px 24px;
	text-align: left;
	text-decoration: none;
	color: #80281e;
	font-size: 20px;
}
.navbar a:hover {
	background: #80281e;
	color: #e2c187;
}
.navbar .links { transition: 0.4s; }

/* make selected element different */
.navbar a.active {
	color: #e2c187;
	background: #3480e1;
}

/* home separate from others */
.navbar a.home {
	float: left;
	color: #5121b4;
	text-decoration: none;
}
.navbar a.home:hover {
	background: none;
}

/* change home page index navigation bar */
.nb-index {
    position: fixed;
	top: 0;
	width: 100%;
    display: block;
	background: #e2c187;
	border-bottom: medium solid black;
}
.nb-index .links {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}
.nb-index a {
	padding: 20px 24px;
	text-align: center;
	text-decoration: none;
	color: #80281e;
	font-size: 20px;
}
.nb-index a.home {
    display: block;
    width: 100%;
	color: #5121b4;
    font-size: 50px;
	text-decoration: none;
}

/* navigation hamburger */
.navbar .hamburg {
	margin-top: 10px;
	display: none;
}
.bar1, .bar2, .bar3 {
	width: 35px;
	height: 5px;
	background: #80281e;
	margin: 5px 0;
	transition: 0.4s;
}
.change .bar1 {
	transform: translate( 0, 10px ) rotate( -45deg );
}
.change .bar2 { opacity: 0; }
.change .bar3 {
	transform: translate( 0, -10px ) rotate( 45deg );
}


/* small screen support */
@media screen and (max-width: 1100px) {
	/* make small screen navigation bar hide other elements */
	.navbar {
		top: 0;
		width: 100%;
	}
	.navbar .links {
		position: fixed;
		display: flex;
		background: #e2c187;
		flex-direction: column-reverse;
		max-height: 0;
		width: 100%;
		overflow: hidden;
		transform: translateY(68px);
		transition: max-height 0.4s ease;
	}
	.navbar .hamburg {
		float: right;
		display: block;
		padding: 3px 14px;
		cursor: pointer;
	}

	/* have elements list vertically instead */
	.navbar.responsive {
		position: fixed;
	}
	.navbar.responsive .hamburg {
		position: absolute;
		right: 0;
		top: 0;
	}
	.navbar.responsive .links {
		text-align: left;
		max-height: 300px;
		width: 100;
		border-bottom: medium solid black;
		transform: translateY(0px);
		transition: max-height 0.4s ease-in;
	}
	.navbar.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
}

/* footer becomes column */
@media screen and (max-width: 800px) {
	.footer {
		display: flex;
		flex-direction: column;
	}
	.questions {
		padding-left: 0%;
	}
	.other-sites {
		padding-right: 1%;
	}
}
